<div id="package-frequency">
  <div class="form-group select optional quote_classes">
    <select class="form-control select optional" data-action="change->quote#computeFrequency" name="quote[classes]" id="quote_classes">
      <option value=""></option>
      <% (1..7).each do |i| %>
        <option value="<%= i %>" <%= "selected" if !@quote.frequency.empty? && @quote.frequency["classes"] == i.to_s %>><%= i %></option>
      <% end %>
    </select>
  </div>
  <p>sessions par</p>
  <div class="form-group select optional quote_period">
    <select class="form-control select optional" data-action="change->quote#computeFrequency" name="quote[period]" id="quote_period">
      <option value=""></option>
      <% ["jour", "semaine"].each do |period|  %>
        <option value="<%= period %>" <%= "selected" if !@quote.frequency.empty? && @quote.frequency["period"] == period %>><%= period %></option>
      <% end %>
    </select>
  </div>
</div>
