<div class="preferred-days">
    <label class="day-check <%= "checked" if @quote.day_of_classes.include?("1") %>" data-action="click->quote#computePreferredDays" data-value="1">Monday</label>
    <label class="day-check <%= "checked" if @quote.day_of_classes.include?("2") %>" data-action="click->quote#computePreferredDays" data-value="2">Tuesday</label>
    <label class="day-check <%= "checked" if @quote.day_of_classes.include?("3") %>" data-action="click->quote#computePreferredDays" data-value="3">Wednesday</label>
    <label class="day-check <%= "checked" if @quote.day_of_classes.include?("4") %>" data-action="click->quote#computePreferredDays" data-value="4">Thursday</label>
    <label class="day-check <%= "checked" if @quote.day_of_classes.include?("5") %>" data-action="click->quote#computePreferredDays" data-value="5">Friday</label>
    <label class="day-check <%= "checked" if @quote.day_of_classes.include?("6") %>" data-action="click->quote#computePreferredDays" data-value="6">Saturday</label>
    <label class="day-check <%= "checked" if @quote.day_of_classes.include?("0") %>" data-action="click->quote#computePreferredDays" data-value="0">Sunday</label>
</div>
