<div class="new-page first-page" style="background-image: url('https://res.cloudinary.com/pywagon/image/upload/v1530545797/page_de_garde_contrat_nzm5w3.png'); height: 29.7cm;">

  <img src="https://res.cloudinary.com/pywagon/image/upload/v1507113122/novexpat_fit_white_gcawfa.png" class="logo">
  <h1>CONTRAT #<span class="purple"><%= @contract.contract_number %></span><br/>
    POUR UNE FORMATION EN FRANÇAIS LANGUE ÉTRANGÈRE :<br/><br/>
    <span class="purple"><%= @contract.set_programme_title %><br/>
    PACK <%= @contract.duration %>H</span></h1>

  <div class="contacts">
    <p class="blue"><b>Entre les soussignés :</b></p>
    <ol>
      <li><b>NOVEXPAT</b>, SAS au capital de 1.000 euros ayant son siège social sis 58 rue de la Fontaine au Roi 75011 Paris, immatriculée au RCS de Paris sous le N&deg; 839 665 759, enregistrée en tant qu’organisme de formation sous le N&deg; 11755750375 auprès du préfet de région d'Île-de-France, et représentée par Mme Fabienne Defaux, Présidente,<br/><br/>
      Ci-dessous désignée par « Novexpat »,</li><br/>
      <li><b><%= @contract.last_name.upcase %> <%= @contract.first_name.capitalize %></b>, ci-dessous désignée par le « Stagiaire »</li>
    </ol>
    <table>
      <tr>
        <td valign="top">
          <div class="detail-card">
            <p class="detail-card-title"><b>TÉLÉPHONE</b></p>
            <p class="detail-card-content"><%= @contract.tel %></p>
          </div>
        </td>
        <td valign="top">
          <div class="detail-card">
            <p class="detail-card-title"><b>EMAIL</b></p>
            <p class="detail-card-content"><%= @contract.email %></p>
          </div>
        </td>
        <td valign="top">
          <div class="detail-card">
            <p class="detail-card-title"><b>ADRESSE</b></p>
            <p class="detail-card-content"><%= @contract.address %><br/><%= @contract.zipcode %> <%= @contract.city %></p>
          </div>
        </td>
      </tr>
    </table>
    <p>Est conclu le contrat suivant,</p>
  </div>
</div>

<div class="new-page second-page">
  <%= render "header_pdf.html", frompage: 2, topage: 3 %>
  <!-- ARTICLE 1 -->
  <div class="article">
    <p class="blue"><b>Article 1 – Objet du contrat</b></p>

    <p>En exécution du présent contrat, Novexpat s’engage à fournir au Stagiaire, l’action de formation suivante :</p>

    <p class="text-center"><b>« <%= @contract.set_programme_title %> »</b></p>

    <p>Cette formation n’entre pas dans le cadre de la Formation Professionnelle Continue tel que défini dans l’article L.6313-1 du code du travail.</p>
  </div>

  <!-- ARTICLE 2 -->
  <div class="article">
    <p class="blue"><b>Article 2 – Nature et caractéristiques de l’action de formation <abbr>*</abbr></b></p>
    <table class="text-left">
      <tr>
        <td><i class="fa fa-bullseye" aria-hidden="true"></i> OBJECTIFS</td>
        <td>Aider le Stagiaire à développer et consolider ses compétences de communication en français langue étrangère (FLE), attendues au <b>niveau <%= @contract.target %></b> du CERCL ainsi que ses connaissances et compréhensions de la culture française</td>
      </tr>
      <tr>
        <td><i class="fa fa-clock-o" aria-hidden="true"></i> DUREE</td>
        <td><b><%= @contract.duration %> heures</b></td>
      </tr>
      <tr>
        <td><i class="fa fa-calendar" aria-hidden="true"></i> DATES ET VALIDITÉ</td>
        <td><b>Du <%= l(@contract.start_from, format: "%d %B %Y", locale: 'fr') %> au <%= l(@contract.end_at, format: "%d %B %Y", locale: 'fr') %>, au plus tard</b>. Les cours doivent se dérouler au cours de cette période de validité.</td>
      </tr>
      <tr>
        <td><i class="fa fa-refresh" aria-hidden="true"></i> RYTHME</td>
        <td><%= render "contracts/rythme.html" %> </td>
      </tr>
      <tr>
        <td><i class="fa fa-map-marker" aria-hidden="true"></i> LIEU</td>
        <td>
          <strong>En ligne</strong> via Skype ou toute autre application permettant de réaliser le cours dans d'excellentes conditions. Une connexion Internet est nécessaire.
        </td>
      </tr>
      <tr>
        <td><i class="fa fa-graduation-cap" aria-hidden="true"></i> PROFESSEUR</td>
        <td><b><%= @contract.teacher %></b>. Il pourra être décidé, en commun accord, qu’un autre formateur dûment qualifié puisse intervenir durant l’action de formation.</td>
      </tr>
      <tr>
        <td><i class="fa fa-check-circle-o" aria-hidden="true"></i> SUIVI</td>
        <td>
          Suivi réalisé par le professeur <strong>via la plateforme NEO</strong>, et attestation de suivi délivrée en fin de formation.
        </td>
      </tr>
    </table>
    <p><em><abbr>*</abbr> Un programme détaillé de la formation peut être fourni sur simple demande écrite à Novexpat.</em></p>
  </div>

  <!-- ARTICLE 3 -->
  <div class="article">
    <p class="blue"><b>Article 3 – Droit de rétractation</b></p>
    <p>À compter de la date de signature du présent contrat, le Stagiaire dispose d’un délai de 14 jours pour se rétracter sans qu’aucune somme de dédommagement ni justificatif du motif de rétraction ne puisse lui être exigé. Lorsque le délai des quatorze jours expire un samedi, un dimanche ou un jour férié ou chômé, il est prorogé jusqu'au premier jour ouvré suivant. Le Stagiaire souhaitant faire usage de son droit de rétractation est tenu de le notifier, dans les délais légaux indiqués ci-dessus, par écrit et par voie postale, par lettre recommandée avec accusé de réception, à l’adresse suivante : Novexpat, à l’attention de Mr. Pierre-Yves Le Guennec, 58 rue de la Fontaine au Roi, 75011 Paris, France.<br/>Si des cours ont été donnés, avec l'accord du Stagiaire, durant la période de rétractation et qu'il est finalement fait usage du droit de rétractation, le Stagiaire reste redevable du montant total de la formation au prorata des séances ayant effectivement eu lieu.</p>
  </div>

  <!-- ARTICLE 4 -->
  <div class="article">
    <p class="blue"><b>Article 4 – Dispositions financières</b></p>
    <table class="text-left">
      <tr>
        <td><i class="fa fa-eur" aria-hidden="true"></i> MONTANT TOTAL</td>
        <td><b><%= @contract.total_amount %>€</b> (<%= @contract.total_amount.humanize %> euros), soit <%= @contract.set_price %>€ de l’heure.<br/>Novexpat n’est pas assujetti à la TVA (Article 293B du CGI)
        </td>
      </tr>
      <tr>
        <td id="included">Y SONT INCLUS</td>
        <td>
          L'ensemble des frais pédagogique et du matériel mis à disposition et jugé utile par le professeur, y compris <b>l’accès la plateforme NEO pendant au moins 1 an</b>.<br/>
          Les frais de connexion Internet du Stagiaire pour suivre les cours en ligne demeurent à sa charge.
        </td>
      </tr>
      <tr>
        <td><i class="fa fa-calendar-check-o" aria-hidden="true"></i> ECHÉANCES DES PAIEMENTS</td>
        <td><%= render "echeance.html" %></td>
      </tr>
    </table>
    <p>Une facture sera envoyée à chaque échéance, avec une fiche synthèse sur laquelle figurera un décompte précis des heures prises et restantes.</p>
  </div>

  <%= render "footer_pdf.html" %>
</div>
<div class="new-page third-page">
  <%= render "header_pdf.html", frompage: 3, topage: 3 %>
  <!-- ARTICLE 5 -->
  <div class="article">
    <p class="blue"><b>Article 5 – Interruption, annulation ou report de la formation</b></p>
    <p>En cas d’interruption souhaité du contrat en cours de formation, le client reste redevable du montant total de la formation<b>&nbsp au prorata des séances ayant effectivement eu lieu</b>. Si ce montant n’excède pas le montant de l’acompte initial de 30%, aucun remboursement ne peut être réclamé par le client.</p>
    <p>En cas d’annulation de la séance <b>moins de 48 heures à l’avance</b>, hors cas de force majeure dûment reconnue et justifiée, la totalité de la dite séance peut être réclamée au Stagiaire.</p>
  </div>

  <!-- ARTICLE 6 -->
  <div class="article">
    <p class="blue"><b>Article 6 – Propriété intellectuelle</b></p>
    <p>Les contenus et les supports pédagogiques utilisés lors de la formation ou sur la plateforme NEO ainsi que les partis pris et la démarche pédagogique relèvent de la propriété intellectuelle légale de Novexpat et ne peuvent être réutilisés ou diffusés sans l’autorisation expresse de l’un des dirigeants de Novexpat.</p>
  </div>

  <!-- ARTICLE 7 -->
  <div class="article">
    <p class="blue"><b>Article 7 – Cas de différend</b></p>
    <p>Si une constatation ou un différend n’ont pu être réglés à l’amiable, le tribunal de Paris sera seul compétent pour régler le litige.</p>
  </div>

  <div class="signature">
    <p>Fait en deux exemplaires à Paris, le <%= l(@contract.sign_date, format: "%d %B %Y", locale: 'fr') %>.</p>
    <table>
      <tr>
        <td valign="top">
          <p><b>Pour le Stagiaire</b></p>
          <p>(Signature précédée de la mention manuscrite<br/><em>« Bon pour accord »</em>)</p>
        </td>
        <td valign="top">
          <p><b>Pour Novexpat SAS</b></p>
          <p>Madame Fabienne DEFAUX, Présidente</p>
        </td>
      </tr>
    </table>
    <img src="https://res.cloudinary.com/pywagon/image/upload/v1530645473/signature-fabienne_n4o1o5.png" id="fab-signature">
    <img src="https://res.cloudinary.com/pywagon/image/upload/v1530645473/Tampon_Novexpat_SAS_rviewo.png" id="tampon">
  </div>
  <%= render "footer_pdf.html" %>
</div>
