<ul>
  <% if !@contract.installment.nil? %>
    <% case @contract.installment %>
      <% when 1 %>
        <% if @convention %>
          <li><b>100%</b> du montant à la commande, facturés à la signature de la présente convention, soit &nbsp;&nbsp;<b><%= @contract.client_type ? @contract.total_amount + @contract.tva_amount.floor : @contract.total_amount %>€</b> TTC</li>
        <% else %>
          <li><b>100%</b> du montant à la commande, facturés le &nbsp<b><%= l(@contract.first_payment_date, format: "%d %B %Y", locale: 'fr') %></b>, soit &nbsp;<b><%= @contract.client_type ? @contract.total_amount + @contract.tva_amount.floor : @contract.total_amount %>€</b> TTC</li>
        <% end %>
      <% when 2 %>
        <li><b>30%</b> du montant à la commande, facturés le &nbsp<b><%= l(@contract.first_payment_date, format: "%d %B %Y", locale: 'fr') %></b>, soit <b><%= @contract.client_type ? (0.3 * (@contract.total_amount + @contract.tva_amount.floor)).round(1) : 0.3 * @contract.total_amount %>€</b></li>
        <li><b>70%</b> du montant, facturés le &nbsp<b><%= l(@contract.calcul_payment_date(@contract.first_payment_date, 0.3), format: "%d %B %Y", locale: 'fr') %></b>, soit <b><%= @contract.client_type ? (0.7 * (@contract.total_amount + @contract.tva_amount.floor)).round(1) : 0.7 * @contract.total_amount %>€</b></li>
      <% when 3 %>
        <li><b>30%</b> du montant à la commande, facturés le &nbsp<b><%= l(@contract.first_payment_date, format: "%d %B %Y", locale: 'fr') %></b>, soit <b><%= @contract.client_type ? 0.3 * (@contract.total_amount + @contract.tva_amount.floor) : 0.3 * @contract.total_amount %>€</b></li>
        <li><b>40%</b> du montant total, facturés le &nbsp<b><%= l(@contract.calcul_payment_date(@contract.start_from, 0.3), format: "%d %B %Y", locale: 'fr') %></b>, soit <b><%= @contract.client_type ? 0.4 * (@contract.total_amount + @contract.tva_amount.floor) : 0.4 * @contract.total_amount %>€</b></li>
        <li><b>30%</b> du montant total, facturés le &nbsp<b><%= l(@contract.calcul_payment_date(@contract.calcul_payment_date(@contract.start_from, 0.3), 0.4), format: "%d %B %Y", locale: 'fr') %></b>, soit <b><%= @contract.client_type ? 0.3 * (@contract.total_amount + @contract.tva_amount.floor) : 0.3 * @contract.total_amount %>€</b></li>
      <% when 4 %>
        <li><b>25%</b> du montant à la commande, facturés le &nbsp<b><%= l(@contract.first_payment_date, format: "%d %B %Y", locale: 'fr') %></b>, soit <b><%= @contract.client_type ? 0.25 * (@contract.total_amount + @contract.tva_amount.floor) : 0.25 * @contract.total_amount %>€</b></li>
        <li><b>25%</b> du montant total, facturés le &nbsp<b><%= l(@contract.calcul_payment_date(@contract.start_from, 0.25), format: "%d %B %Y", locale: 'fr') %></b>, soit <b><%= @contract.client_type ? 0.25 * (@contract.total_amount + @contract.tva_amount.floor) : 0.25 * @contract.total_amount %>€</b></li>
        <li><b>25%</b> du montant total, facturés le &nbsp<b><%= l(@contract.calcul_payment_date(@contract.calcul_payment_date(@contract.start_from, 0.25), 0.25), format: "%d %B %Y", locale: 'fr') %></b>, soit <b><%= @contract.client_type ? 0.25 * (@contract.total_amount + @contract.tva_amount.floor) : 0.25 * @contract.total_amount %>€</b></li>
        <li><b>25%</b> du montant total, facturés le &nbsp<b><%= l(@contract.calcul_payment_date(@contract.calcul_payment_date(@contract.calcul_payment_date(@contract.start_from, 0.25), 0.25), 0.25), format: "%d %B %Y", locale: 'fr') %></b>, soit <b><%= @contract.client_type ? 0.25 * (@contract.total_amount + @contract.tva_amount.floor) : 0.25 * @contract.total_amount %>€</b></li>
    <% end %>
  <% else %>
    <% if @contract.programme_duration < 42 %>
      <li><b>100%</b> du montant à la commande, facturés le &nbsp<b><%= l(@contract.first_payment_date, format: "%d %B %Y", locale: 'fr') %></b>, soit <b><%= 1 * @contract.total_amount %>€</b></li>
    <% elsif @contract.programme_duration < 95 %>
      <li><b>30%</b> du montant à la commande, facturés le &nbsp<b><%= l(@contract.first_payment_date, format: "%d %B %Y", locale: 'fr') %></b>, soit <b><%= 0.3 * @contract.total_amount %>€</b></li>
      <li><b>70%</b> du montant, facturés le &nbsp<b><%= l(@contract.calcul_payment_date(@contract.first_payment_date, 0.3), format: "%d %B %Y", locale: 'fr') %></b>, soit <b><%= 0.7 * @contract.total_amount %>€</b></li>
    <% else %>
      <li><b>30%</b> du montant à la commande, facturés le &nbsp<b><%= l(@contract.first_payment_date, format: "%d %B %Y", locale: 'fr') %></b>, soit <b><%= 0.3 * @contract.total_amount %>€</b></li>
      <li><b>40%</b> du montant total, facturés le &nbsp<b><%= l(@contract.calcul_payment_date(@contract.start_from, 0.3), format: "%d %B %Y", locale: 'fr') %></b>, soit <b><%= 0.4 * @contract.total_amount %>€</b></li>
      <li><b>30%</b> du montant total, facturés le &nbsp<b><%= l(@contract.calcul_payment_date(@contract.calcul_payment_date(@contract.start_from, 0.3), 0.4), format: "%d %B %Y", locale: 'fr') %></b>, soit <b><%= 0.3 * @contract.total_amount %>€</b></li>
    <% end %>
  <% end %>
</ul>
