<div class="header">
    <p>Contrat <%= @contract.set_programme_title.downcase.capitalize %> - <%= @contract.duration %>h - <%= @contract.first_name %> <%= @contract.last_name %> - Page <%= frompage %>/<%= topage %></p>
</div>
