<div class="new-page first-page" style="background-image: url('https://res.cloudinary.com/pywagon/image/upload/v1530545797/page_de_garde_contrat_nzm5w3.png'); height: 29.7cm;">

  <img src="https://res.cloudinary.com/pywagon/image/upload/v1507113122/novexpat_fit_white_gcawfa.png" class="logo">
  <h1>CONTRAT #<span class="purple"><%= "NOV-#{Programmes::FBP[@contract.programme][:code]}-#{@contract.sign_date.strftime("%Y%m%d")}-0#{@contract.id}"%></span><br/>
    POUR UNE FORMATION EN FRANÇAIS LANGUE ÉTRANGÈRE :<br/><br/>
    <span class="purple"><%= Programmes::FBP[@contract.programme][:title].upcase %></h1>

  <div class="contacts" style="bottom: 3%;">
    <p class="blue"><b>Entre les soussignés :</b></p>
    <ol>
      <li><b>NOVEXPAT</b>, SAS au capital de 1.000 euros ayant son siège social sis 58 rue de la Fontaine au Roi 75011 Paris, immatriculée au RCS de Paris sous le N&deg; 839 665 759, enregistrée en tant qu’organisme de formation sous le N&deg; 11755750375 auprès du préfet de région d'Île-de-France, et représentée par Mme Fabienne Defaux, Présidente,<br/><br/>
      Ci-dessous désignée par « Novexpat »,</li><br/>
      <li><b><%= @contract.last_name.upcase %> <%= @contract.first_name.capitalize %></b>, ci-dessous désignée par le « Stagiaire »</li>
    </ol>
    <table>
      <tr>
        <td valign="top">
          <div class="detail-card">
            <p class="detail-card-title"><b>TÉLÉPHONE</b></p>
            <p class="detail-card-content"><%= @contract.tel %></p>
          </div>
        </td>
        <td valign="top">
          <div class="detail-card">
            <p class="detail-card-title"><b>EMAIL</b></p>
            <p class="detail-card-content"><%= @contract.email %></p>
          </div>
        </td>
        <td valign="top">
          <div class="detail-card">
            <p class="detail-card-title"><b>ADRESSE</b></p>
            <p class="detail-card-content"><%= @contract.address %><br/><%= @contract.zipcode %> <%= @contract.city %></p>
          </div>
        </td>
      </tr>
    </table>
    <p>Est conclu le contrat suivant,</p>
  </div>
</div>

<div class="new-page second-page">
  <!-- ARTICLE 1 -->
  <div class="article">
    <p class="blue"><b>Article 1 – Objet du contrat</b></p>

    <p>En exécution du présent contrat, Novexpat s’engage à fournir au Stagiaire, l’action de formation suivante :</p>

    <p class="text-center"><b>« <%= Programmes::FBP[@contract.programme][:title].upcase %> »</b></p>

    <p>Cette formation n’entre pas dans le cadre de la Formation Professionnelle Continue tel que défini dans l’article L.6313-1 du code du travail.</p>
  </div>

  <!-- ARTICLE 2 -->
  <div class="article">
    <p class="blue"><b>Article 2 – Nature et caractéristiques de l’action de formation <abbr>*</abbr></b></p>
    <table class="text-left">
      <tr>
        <td><i class="fa fa-bullseye" aria-hidden="true"></i> OBJECTIFS</td>
        <td>Aider le Stagiaire à développer et consolider ses compétences de communication en français langue étrangère (FLE) ainsi que ses connaissances et compréhension de la culture française.</td>
      </tr>
      <tr>
        <td><i class="fa fa-clock-o" aria-hidden="true"></i> DUREE</td>
        <td><b>33 heures</b></td>
      </tr>
      <tr>
        <td><i class="fa fa-calendar" aria-hidden="true"></i> DATES ET VALIDITÉ</td>
        <td><b>Du <%= l(@contract.start_from, format: "%d %B %Y", locale: 'fr') %> au <%= l(@contract.end_at, format: "%d %B %Y", locale: 'fr') %>.</b> Un calendrier détaillé est pourvu en annexe. Les cours individuels seront fixés en accord commun entre le Stagiaire et le professeur, au minimum 48 heures à l'avance.</td>
      </tr>
      <tr>
        <td><i class="fa fa-refresh" aria-hidden="true"></i> RYTHME</td>
        <td><b>10 séances de 3h</b> en mini-groupe (max. 8 personnes) et &nbsp;<b>2 séances individuelles de 1,5h</b> en face-à-face pédagogique avec le professeur.</td>
      </tr>
      <tr>
        <td><i class="fa fa-map-marker" aria-hidden="true"></i> LIEU</td>
        <td>Les cours en groupe auront lieu au &nbsp; <b>7, allée du Général Denain 75015 Paris.</b> Les cours individuels auront lieu au domicile du Stagiaire, dans des cafés ou dans des lieux d’intérêts culturels et pédagogiques à Paris. Le lieu devra être confirmé au moins 48h avant la tenue du cours.</td>
      </tr>
      <tr>
        <td><i class="fa fa-graduation-cap" aria-hidden="true"></i> PROFESSEUR</td>
        <td><b>Fabienne DEFAUX</b>. Il pourra être décidé, en commun accord, qu’un autre formateur dûment qualifié puisse intervenir durant l’action de formation.</td>
      </tr>
      <tr>
        <td><i class="fa fa-users" aria-hidden="true"></i> EFFECTIF</td>
        <td>De <b>4 à 8 stagiaires</b> maximum.</td>
      </tr>
      <tr>
        <td><i class="fa fa-check-circle-o" aria-hidden="true"></i> SUIVI</td>
        <td>Feuille d’émargement à signer à chaque séance par le Stagiaire et le professeur, et attestation de suivi délivrée en fin de formation.</td>
      </tr>
    </table>
    <p><em><abbr>*</abbr> Un programme détaillé de la formation peut être fourni sur simple demande écrite à Novexpat.</em></p>
  </div>

  <!-- ARTICLE 3 -->
  <div class="article">
    <p class="blue"><b>Article 3 – Droit de rétractation</b></p>
    <p>À compter de la date de signature du présent contrat, le Stagiaire dispose d’un délai de 14 jours pour se rétracter sans qu’aucune somme de dédommagement ni justificatif du motif de rétraction ne puisse lui être exigé. Lorsque le délai des quatorze jours expire un samedi, un dimanche ou un jour férié ou chômé, il est prorogé jusqu'au premier jour ouvré suivant. Le Stagiaire souhaitant faire usage de son droit de rétractation est tenu de le notifier, dans les délais légaux indiqués ci-dessus, par écrit et par voie postale, par lettre recommandée avec accusé de réception, à l’adresse suivante : Novexpat, à l’attention de Mr. Pierre-Yves Le Guennec, 58 rue de la Fontaine au Roi, 75011 Paris, France.</p>
  </div>

  <!-- ARTICLE 4 -->
  <div class="article">
    <p class="blue"><b>Article 4 – Dispositions financières</b></p>
    <table class="text-left">
      <tr>
        <td><i class="fa fa-eur" aria-hidden="true"></i> MONTANT TOTAL</td>
        <td><b><%= Fees::FBP_FEES[@contract.hourly_rate][:value] %>€</b> (<%= Fees::FBP_FEES[@contract.hourly_rate][:value].humanize %> euros), soit env. <%= Fees::FBP_FEES[@contract.hourly_rate][:value].fdiv(33).round(1) %>€ de l’heure.<br/>Novexpat n’est pas assujetti à la TVA (Article 293B du CGI)
        </td>
      </tr>
      <tr>
        <td id="included">Y SONT INCLUS</td>
        <td>L'ensemble des frais pédagogique et du matériel mis à disposition et jugé utile par le professeur, y compris <b>l’accès la plateforme NEO pendant au moins 1 an.</b><br/>
          Les frais de transports et de déplacement du professeur dans Paris intra-muros.<br/>
          L’éventuelle collation du Stagiaire dans le cadre du cours reste à sa charge.
        </td>
      </tr>
      <tr>
        <td><i class="fa fa-calendar-check-o" aria-hidden="true"></i> ECHÉANCES DES PAIEMENTS</td>
        <td>
          <ul>
            <li><b>30%</b> du montant à la commande, facturés le &nbsp;<b><%= l(@contract.first_payment_date, format: "%d %B %Y", locale: 'fr') %></b>, soit <b><%= (0.3 * Fees::FBP_FEES[@contract.hourly_rate][:value]).floor %>€</b></li>
            <li><b>40%</b> du montant total, facturés le &nbsp;<b><%= l(@contract.first_payment_date + 45, format: "%d %B %Y", locale: 'fr') %></b>, soit <b><%= (0.4 * Fees::FBP_FEES[@contract.hourly_rate][:value]).round %>€</b></li>
            <li><b>30%</b> du montant total, facturés le &nbsp;<b><%= l(@contract.first_payment_date + 76, format: "%d %B %Y", locale: 'fr') %></b>, soit <b><%= (0.3 * Fees::FBP_FEES[@contract.hourly_rate][:value]).round %>€</b></li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="new-page third-page">
  <div style="margin-top: 10px;">
    <p>Une facture sera envoyée au début de la formation. Un rappel de paiement sera effectué à chaque échéance par email.</p>
  </div>
  <!-- ARTICLE 5 -->
  <div class="article">
    <p class="blue"><b>Article 5 – Interruption, annulation ou report de la formation</b></p>
    <p>En cas d’annulation de la totalité de la formation moins de 5 jours ouvrés avant le début de la formation, et après que le délai de rétraction soit écoulé, le Stagiaire reste redevable de la somme avancée à l’inscription de la formation.</p>
    <p>En cas d’interruption en cours de formation, hors cas de force majeure dûment reconnu et justifié, le Stagiaire doit s’acquitter du montant total de la formation.</p>
    <p>En cas d’annulation de la séance individuelle <b>moins de 48 heures à l’avance,</b> hors cas de force majeure dûment reconnue et justifiée, la totalité de la dite séance peut être réclamée au Stagiaire.</p>
    <p>En cas d’un nombre insuffisant de stagiaires (inférieur à 4) ou d’incapacité ou d’impossibilité définitive de Novexpat à dispenser le programme dans les conditions suffisantes, ce contrat de formation pourra être résilié sans qu’aucune compensation financière particulière ne puisse être réclamée par le Stagiaire. Les sommes avancées par le Stagiaire lui seront en revanche intégralement rendues.</p>
  </div>

  <!-- ARTICLE 6 -->
  <div class="article">
    <p class="blue"><b>Article 6 – Propriété intellectuelle</b></p>
    <p>Les contenus et les supports pédagogiques utilisés lors de la formation ou sur la plateforme NEO ainsi que les partis pris et la démarche pédagogique relèvent de la propriété intellectuelle légale de Novexpat et ne peuvent être réutilisés ou diffusés sans l’autorisation expresse de l’un des dirigeants de Novexpat.</p>
  </div>

  <!-- ARTICLE 7 -->
  <div class="article">
    <p class="blue"><b>Article 7 – Assurances</b></p>
    <p>Les assurances maladie, accident et responsabilité civile sont obligatoires et à la charge du Stagiaire.</p>
  </div>

  <!-- ARTICLE 8 -->
  <div class="article">
    <p class="blue"><b>Article 8 – Cas de différend</b></p>
    <p>Si une constatation ou un différend n’ont pu être réglés à l’amiable, le tribunal de Paris sera seul compétent pour régler le litige.</p>
  </div>

  <div class="signature">
    <p>Fait en deux exemplaires à Paris, le <%= l(@contract.sign_date, format: "%d %B %Y", locale: 'fr') %>.</p>
    <table>
      <tr>
        <td valign="top">
          <p><b>Pour le Stagiaire</b></p>
          <p>(Signature précédée de la mention manuscrite<br/><em>« Bon pour accord »</em>)</p>
        </td>
        <td valign="top">
          <p><b>Pour Novexpat SAS</b></p>
          <p>Madame Fabienne DEFAUX, Présidente</p>
        </td>
      </tr>
    </table>
    <img src="https://res.cloudinary.com/pywagon/image/upload/v1530645473/signature-fabienne_n4o1o5.png" id="fab-signature">
    <img src="https://res.cloudinary.com/pywagon/image/upload/v1530645473/Tampon_Novexpat_SAS_rviewo.png" id="tampon">
  </div>
  <%= render "footer_pdf.html" %>
</div>
