<div class="container">
  <h1>Generated Contracts</h1>
  <h3>
    Please, select the contract of interest |
    <%= link_to root_path do %>
      <i class="fa fa-plus-circle"></i>
    <% end %>
  </h3>

  <ul>
    <% @contracts.each_with_index do |contract, index| %>
      <li>[<%= index + 1 %>] <%= link_to contract.contract_number, contract_path(contract), target: "_blank" %> | <%= contract.first_name %> <%= contract.last_name.upcase %> | <%= contract.set_programme_title %> - created at <%= contract.created_at %> | <%= link_to "Edit", edit_contract_path(contract) %></li>
    <% end %>
  </ul>
</div>
