<% if @contract.code == "FBP" %>
  <%= render "fbp_contract.html.erb"  %>
<% end %>
<% if @contract.code == "CPIO" %>
  <%= render "cpio_contract.html.erb" %>
<% end %>
<% if @contract.code == "CPI" %>
  <%= render "cpi_contract.html.erb" %>
<% end %>
<div id="back_to_contracts">
  <%= link_to contracts_path do  %>
    <i class="fa fa-home"></i>
  <% end %>
</div>

<div id="download-pdf">
  <%= link_to contract_path(@contract, format: :pdf) do  %>
    <i class="fa fa-download"></i>
  <% end %>
</div>
