<% if @contract.code == "FBP" %>
  <%= render "fbp_contract.html.erb"  %>
<% end %>
<% if @contract.code == "FBPI" %>
  <%= render "fbpi_contract"  %>
<% end %>
<% if @contract.code == "CPIO" %>
  <%= render "cpio_contract.html.erb" %>
<% end %>
<%= render "cpi_contract.html.erb" if @contract.code == "CPI" && !@contract.ext_group %>
<%= render "mgcpi_contract.html.erb" if @contract.code == "CPI" && @contract.ext_group %>
<%= render "fup_contract.html.erb" if @contract.code == "FUP" && !@contract.ext_group %>
<%= render "mgfup_contract.html.erb" if @contract.code == "FUP" && @contract.ext_group %>

<% if @contract.code == "WFC" %>
  <%= render "wfc_contract.html.erb" %>
<% end %>
<div id="back_to_contracts">
  <%= link_to contracts_path do  %>
    <i class="fa fa-home"></i>
  <% end %>
</div>

<div id="download-pdf">
  <%= link_to contract_path(@contract, format: :pdf) do  %>
    <i class="fa fa-download"></i>
  <% end %>
</div>
