<div class="title">
  <h1 class="main-linearize">1-on-1 French Classes | <span class="rosify">Generate Contract</span></h1>
</div>
<div class="container">
  <div class="col-xs-12 col-sm-6">
    <%= simple_form_for (contract) do |f| %>
      <div class="about-programme">
        <h3>About the programme</h3>
        <%= f.input :programme, as: :select, collection: Programmes::PROGRAMME.map{|prog| prog[:title]}, input_html: {class: "select2"} %>
        <%= f.input :client_type, as: :select, collection: Contract::CLIENT_TYPE.map{|client| client[:title]}, input_html: {class: "select2"} %>
        <%= f.input :hourly_rate, as: :select, collection: Fees::FEES.map{|fee| fee[:title]}, input_html: {class: "select2"} %>
        <%= f.input :target, as: :select, collection: Contract::TARGET, input_html: {class: "select2"} %>
        <%= f.input :teacher, as: :select, collection: Teachers::TEACHERS, input_html: {class: "select2"} %>
      </div>
      <div class="about-programme">
        <h3>Programme Length</h3>
        <div class="col-xs-6">
          <%= f.input :start_from, as: :string, input_html: {class: "datepicker"} %>
        </div>
        <div class="col-xs-6">
          <%= f.input :end_at, as: :string, input_html: {class: "datepicker"} %>
        </div>
        <h3>Programme Rythm & Frequency</h3>
        <h6>Package Hour Split [1] <span style="font-size: 12px;">(X sessions of Y hours)</span></h6>
        <div class="col-xs-6">
          <%= f.input :number_of_sessions, as: :select, collection: 1..50, input_html: {class: "select2"} %>
        </div>
        <div class="col-xs-6">
          <%= f.input :hours_by_sessions, as: :select, collection: [1, 1.5, 2, 2.5, 3], input_html: {class: "select2"} %>
        </div>
        <h6>Package Hour Split [2] - <span style="font-size: 12px;">OPTIONAL (if different data)</span></h6>
        <div class="col-xs-6">
          <%= f.input :number_of_sessions_2, as: :select, collection: 1..50, input_html: {class: "select2"} %>
        </div>
        <div class="col-xs-6">
          <%= f.input :hours_by_sessions_2, as: :select, collection: [1, 1.5, 2, 2.5, 3], input_html: {class: "select2"} %>
        </div>
        <h6>Classes frequency <span style="font-size: 12px;">(X sessions every Y weeks)</span></h6>
        <div class="col-xs-6">
          <%= f.input :number_of_classes, as: :select, collection: 1..12, input_html: {class: "select2"} %>
        </div>
        <div class="col-xs-6">
          <%= f.input :number_of_weeks, as: :select, collection: 1..6, input_html: {class: "select2"} %>
        </div>

      </div>
      <div class="contact-details">
        <h3>About the contractor</h3>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :tel %>
        <%= f.input :email %>
        <%= f.input :address %>
        <%= f.input :zipcode %>
        <%= f.input :city %>
      </div>
      <div class="about-contract">
        <h3>Signature Date</h3>
        <%= f.input :sign_date, as: :string, input_html: {class: "datepicker"}, label: false %>
      </div>
      <%= simple_fields_for :source do |v| %>
        <%= v.hidden_field :source, value: params[:action] %>
      <% end %>
      <%= f.submit "Generate Contract", class: "btn btn-success" %>
    <% end %>
  </div>
</div>
