<div class="container">
  <h1>Welcome on Nice !</h1>
  <h3>Please, select the programme to start generating a contract</h3>

  <ul>
    <li><%= link_to "FrenchBooster Programme", new_contract_path(code: "FBP") %></li>
    <li><%= link_to "FrenchUp Programme", new_contract_path(code: "FUP") %></li>
    <li><%= link_to "Mini-Group FrenchUp Programme", new_contract_path(code: "FUP", mg: true) %></li>
    <li><%= link_to "Bespoke French classes", new_contract_path(code: "CPI") %></li>
    <li><%= link_to "Mini-Group Bespoke French classes", new_contract_path(code: "CPI", mg: true) %></li>
    <li><%= link_to "Weekly French Classes", new_contract_path(code: "WFC") %></li>
  </ul>

  <ul>
    <li>Quote for Bespoke French Classes: <%= link_to "Individual", new_quote_path(code: "CPI", business: false) %> | <%= link_to "Business", new_quote_path(code: "CPI", business: true) %></li>
  </ul>


  <%= link_to "See All contracts", contracts_path %>
  <p>Règlement intérieur: <%= link_to "html", regint_path, target: "_blank" %> | <%= link_to "pdf", regint_path(format: :pdf), target: "_blank" %></p>

</div>

