<div class="regint">
  <div class="new-page">
    <div class="header">
        <p>Règlement Intérieur - Novexpat - <%= @month %> <%= @year %> - page 1/2</p>
    </div>
      <table class="reg-top">
        <tr>
          <td><%= image_tag('https://res.cloudinary.com/pywagon/image/upload/v1524043053/logo_svg_black_q4wxjz.svg') %>
          <td>
            <h3>Règlement intérieur</h3>
            <p><%= @month %> <%= @year %></p>
          </td>
        </tr>
      </table>
      <div class="explanation">
        <p>An an authorized training organization, we are compelled to send you this formal document, written in French, that specifies the applicable health and safety policies, disciplinary rules and measures and your rights in such situations. You may want to copy/paste the following text into <%= link_to "Google Translate", "https://translate.google.fr/?hl=fr#view=home&op=translate&sl=fr&tl=en", target: "_blank"  %> to make sure you fully understand it. If you need any clarification, you can email Pierre-Yves (<%= link_to "py@novexpat.fr", "mailto:py@novexpat.fr", target: "_blank"  %>).</p>
      </div>
      <table class="two-columns">
        <tr>
          <td><!-- Préambule -->
            <article>
              <h5 id="preambule">Préambule</h5>
              <p>Le présent règlement est établi conformément aux dispositions des articles L.6352-3 et L.6352-4 et R.6352-1 à R.6352-15 du Code du travail.</p>
              <p>Ce règlement fixe ci-après notamment :</p>
              <ul>
                <li>Les mesures d’application de la réglementation en matière d’hygiène et de sécurité</li>
                <li>Les règles générales et permanentes relatives à la discipline</li>
                <li>La nature et l’échelle des sanctions qui pourront être appliquées en cas de manquement aux règles susvisées</li>
                <li>Les droits de la défense qui devront accompagner la mise en œuvre d’éventuelles sanctions</li>
              </ul>
              <p>Ce règlement et les dispositions qu’il contient s’appliquent de plein droit à tous les stagiaires, et ce pour la durée de la formation suivie. Il n’appelle aucune adhésion individuelle de la part des stagiaires auxquels il est directement applicable.</p>
              <p>Le règlement est transmis et porté à la connaissance du stagiaire dans la convocation à la formation.</p>
            </article>
            <!-- Article 1 -->
            <article>
              <h5>Article 1. Hygiène et sécurité</h5>
              <p>Conformément à l’article R.6352-1 du Code du travail, il est rappelé que lorsque la formation se déroule dans un établissement déjà doté d’un règlement intérieur, les mesures de sécurité et d’hygiène applicables sont celles de ce dernier règlement. Lorsque la formation se déroule dans les locaux de l’organisme de formation ou dans des locaux extérieurs à l’organisme de formation non dotés d’un règlement intérieur, il sera appliqué l’ensemble des dispositions du présent article.</p>
              <!-- Article 1.1 -->
              <h6>1.1. Principes généraux</h6>
              <p>La Direction de la société Novexpat SAS assume la responsabilité de l’hygiène et de la sécurité au sein de l’établissement. Il lui incombe à ce titre de mettre en œuvre et de faire assurer le respect de toutes les dispositions législatives et réglementaires qui s'imposent à elle en raison de toutes les caractéristiques de son activité et de son organisation. Les dispositions revêtant un caractère général font l'objet des paragraphes ci-après. Des mesures spéciales ou ponctuelles pourront intervenir par notes de service lorsque les spécificités de la situation, de l'activité ou de l'organisation du stage l'exigent.</p>
              <!-- Article 1.2 -->
              <h6>1.2. Respect des mesures d’hygiène et de sécurité</h6>
              <p>Il appartient aux formateurs d'encadrer les stagiaires et de leur communiquer aussi fréquemment que nécessaire toute information en matière de sécurité applicable à l'accomplissement du stage qu'il anime et de contrôler le respect de ces consignes.</p>
              <p>S’il constate un dysfonctionnement du système de sécurité, le stagiaire doit en informer immédiatement Novexpat SAS</p>
              <p>Tout formateur a le devoir de refuser sur le lieu de stage toute personne qui ne respecte pas les consignes de sécurité et qui refuse de s'y conformer après notification expresse par ce formateur.</p>
              <!-- Article 1.3 -->
              <h6>1.3. Lavabos et toilettes</h6>
              <p>Les stagiaires sont tenus de laisser en bon état de propreté les lavabos et toilettes mis à leur disposition durant leur formation.</p>
              <!-- Article 1.4 -->
              <h6>1.4. Boissons alcoolisées et drogues</h6>
              <p>Il est interdit aux stagiaires de pénétrer ou de séjourner dans l’établissement en état d’ivresse ou sous l’emprise de drogues.</p>

            </article>
          </td>
          <td>
            <article>
              <p>De même, l’introduction et la consommation de boissons alcoolisées ou de drogues est formellement interdite.</p>
              <!-- Article 1.5 -->
              <h6>1.5. Interdiction de fumer</h6>
              <p>Il est formellement interdit de fumer à l'intérieur de tous les locaux de l'établissement affectés à un usage collectif. Par locaux à usage collectif, sont concernés non seulement ceux occupés de manière permanente par au moins deux personnes, mais également tous ceux au sein desquels sont susceptibles de passer d'autres personnes que l'occupant habituel, qu'il s'agisse de stagiaires, de stagiaires de l'entreprise ou de personnes extérieures. Une affichette rappelant l'interdiction est apposée dans les locaux visés.</p>
              <!-- Article 1.6 -->
              <h6>1.6. Dispositifs de lutte contre l’incendie</h6>
              <p>Le formateur doit connaître et respecter les consignes de sécurité du local où s’effectue l’action de formation, notamment en cas d’incendie. Il doit veiller au libre accès aux moyens et matériels de lutte contre l’incendie ainsi qu’aux issues de secours.</p>
              <!-- Article 1.7 -->
              <h6>1.7. Accidents et problèmes de santé</h6>
              <p>Tout accident, même a priori bénin, qui survient à un stagiaire durant l’action de formation doit être immédiatement signalé à la Direction de Novexpat SAS, soit par l’intéressé lui-même, soit par toute personne en ayant eu connaissance.</p>
              <p>Il est dans l’intérêt des stagiaires d’informer la Direction de Novexpat SAS et le formateur d’éventuels problèmes de santé (mal de dos, problèmes respiratoires, incapacités physiques, etc.) afin de permettre, le cas échéant, un aménagement des exercices proposés ou des lieux dans lesquels s’effectue l’action de formation.</p>
            </article>
            <!-- Article 2 -->
            <article>
              <h5>Article 2. Discipline</h5>
              <!-- 2.1 -->
              <h6>2.1. Tenue vestimentaire et comportement</h6>
              <p>Les stagiaires doivent se présenter au lieu de formation en tenue décente et à avoir un comportement correct à l'égard de toute personne présente.</p>
              <!-- 2.2 -->
              <h6>2.2. Horaires de stage, absences et retards</h6>
              <p>Les horaires de stage sont fixés par Novexpat SAS ou en commun accord avec le stagiaire. Ils sont portés à la connaissance des stagiaires dans la convocation. Les stagiaires sont tenus de respecter ces horaires. Novexpat SAS se réserve, dans les limites imposées par des dispositions en vigueur, le droit de modifier les horaires de stage en fonction des nécessités de service. En cas de retard ou d’absence au stage, le stagiaire doit en avertir le formateur. Il est interdit aux stagiaires de s’absenter ou de quitter le stage sans motif. Tout évènement non justifié par des circonstances particulières constitue une faute passible de sanctions.</p>
              <!-- 2.3 -->
              <h6>2.3. Propriété intellectuelle</h6>
              <p>Il est formellement interdit d’enregistrer, de photographier ou de filmer les sessions de formations, les supports filmés ou autres supports pédagogiques, sauf autorisation expresse de la Direction de Novexpat SAS. La documentation pédagogique remise lors des sessions de formation est protégée au titre des droits d’auteur et ne peut être strictement réutilisée que dans le cadre de l’action de formation.</p>
            </article>
          </td>
        </tr>


      </table>
      <table class="table-footer">
        <tr>
          <td>
            <p> © Novexpat SAS · 58 rue de la Fontaine au Roi 75011 Paris<br/>
            Tel : +33 6 77 02 71 98 · Site : <%= link_to "www.novexpat.com", "https://www.novexpat.com" %>
            </p>
          </td>
          <td><%= image_tag("https://res.cloudinary.com/pywagon/image/upload/v1524043053/logo_svg_black_q4wxjz.svg") %></td>
        </tr>
      </table>
  </div>
  <div class="new-page">
    <div class="header">
        <p>Règlement Intérieur - Novexpat - <%= @month %> <%= @year %> - page 2/2</p>
    </div>
    <table class="two-columns" style="margin-top: 1.5em;">
      <tr>
        <td>
          <!-- 2.4 -->
          <article>
            <h6>2.4. Matériel et documents</h6>
            <p>Chaque stagiaire a l'obligation de conserver en bon état, le matériel et les documents pédagogiques qui lui sont confiés. Il ne doit pas les utiliser à d'autres fins, notamment personnelles.</p>
            <p>A la fin de chaque formation, tout stagiaire doit restituer au formateur tout matériel et document en sa possession qui appartient à la société</p>
            <p>Novexpat SAS, sauf si cela en a été convenu autrement et expressément avec la Direction de Novexpat SAS.</p>
          </article>
          <!-- Article 3 -->
          <article>
            <h5>Article 3. Sanctions et mesures disciplinaires</h5>
            <h6>3.1. Sanctions</h6>
            <p>Tout manquement du stagiaire à l'une des dispositions du présent règlement intérieur pourra faire l'objet d'une sanction. Selon la gravité du manquement constaté, la sanction pourra consister en un avertissement ou une mesure d'exclusion temporaire ou définitive. Novexpat SAS informe l'employeur ou l’organisme paritaire ou tout organisme financeur de la sanction ainsi prise.</p>
          </article>
        </td>
        <td>
          <article>
            <h6>3.2. Procédure disciplinaire</h6>
            <p>Aucune sanction ne peut être infligée au stagiaire sans que celui-ci ait été informé au préalable des griefs retenus contre lui. Lorsque le représentant de Novexpat SAS envisage de prendre une sanction, la procédure suivante est respectée :</p>
            <ul>
              <li>Novexpat SAS convoque par lettre recommandée avec accusé de réception le stagiaire en lui indiquant l'objet de cette convocation, sa date, l'heure, le lieu de l'entretien et la faculté de se faire assister par une personne de son choix, stagiaire ou salarié Novexpat SAS.</li>
              <li>Novexpat SAS indique le motif de la sanction envisagée et recueille les explications du stagiaire lors de l’entretien.</li>
              <li>La sanction ne peut intervenir moins d'1 jour franc ni plus de 15 jours après l'entretien. Elle fait l'objet d'une décision écrite et motivée, notifiée au stagiaire sous la forme d'une lettre recommandée.</li>
            </ul>
          </article>
          <article id="signature">
            <h5>Fabienne Defaux</h5>
            <p>Présidente de Novexpat SAS</p>
            <!-- <img src="https://res.cloudinary.com/pywagon/image/upload/v1530645473/signature-fabienne_n4o1o5.png" id="fab-signature">
            <img src="https://res.cloudinary.com/pywagon/image/upload/v1530645473/Tampon_Novexpat_SAS_rviewo.png" id="tampon"> -->
          </article>
        </td>
      </tr>
    </table>
    <table class="table-footer">
      <tr>
        <td>
          <p> © Novexpat SAS · 58 rue de la Fontaine au Roi 75011 Paris<br/>
          Tel : +33 6 77 02 71 98 · Site : <%= link_to "www.novexpat.com", "https://www.novexpat.com" %>
          </p>
        </td>
        <td><%= image_tag("https://res.cloudinary.com/pywagon/image/upload/v1524043053/logo_svg_black_q4wxjz.svg") %></td>
      </tr>
    </table>
  </div>
</div>
